<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.abc.example.dao.SysParameterDao">

    <insert id="insertItem" parameterType="com.abc.example.entity.SysParameter">
        INSERT INTO exa_sys_parameters(
            class_id,class_key,class_name,item_id,item_key,item_value,item_desc,
            operator_name
        )
        VALUES(
            #{classId},#{classKey},#{className},#{itemId},#{itemKey},#{itemValue},
            #{itemDesc},#{operatorName}
        )
    </insert>
    
    <insert id="insertItems" parameterType="java.util.List">
        INSERT INTO exa_sys_parameters(
            class_id,class_key,class_name,item_id,item_key,item_value,item_desc,
            operator_name
        )
        VALUES
        <foreach collection ="list" item="item" index= "index" separator =",">
        (
            #{item.classId},#{item.classKey},#{item.className},#{item.itemId},
            #{item.itemKey},#{item.itemValue},#{item.itemDesc},#{item.operatorName}
        )
        </foreach>
    </insert>
    
    <update id="updateItemByKey" parameterType="java.util.Map">
        UPDATE
            exa_sys_parameters
        <set>
            <if test='classKey != null'>
                class_key = #{classKey,jdbcType=VARCHAR},
            </if>
            <if test='className != null'>
                class_name = #{className,jdbcType=VARCHAR},
            </if>
            <if test='itemKey != null'>
                item_key = #{itemKey,jdbcType=VARCHAR},
            </if>
            <if test='itemValue != null'>
                item_value = #{itemValue,jdbcType=VARCHAR},
            </if>
            <if test='itemDesc != null'>
                item_desc = #{itemDesc,jdbcType=VARCHAR},
            </if>
            <if test='operatorName != null'>
                operator_name = #{operatorName,jdbcType=VARCHAR},
            </if>
            <if test='deleteFlag != null'>
                delete_flag = #{deleteFlag,jdbcType=TINYINT},
            </if>
        </set>
        WHERE
            class_id = #{classId} AND
            item_id = #{itemId}
    </update>
    
    <update id="updateItems" parameterType="java.util.Map">
        UPDATE
            exa_sys_parameters
        <set>
            <if test='classKey != null'>
                class_key = #{classKey,jdbcType=VARCHAR},
            </if>
            <if test='className != null'>
                class_name = #{className,jdbcType=VARCHAR},
            </if>
            <if test='itemKey != null'>
                item_key = #{itemKey,jdbcType=VARCHAR},
            </if>
            <if test='itemValue != null'>
                item_value = #{itemValue,jdbcType=VARCHAR},
            </if>
            <if test='itemDesc != null'>
                item_desc = #{itemDesc,jdbcType=VARCHAR},
            </if>
            <if test='operatorName != null'>
                operator_name = #{operatorName,jdbcType=VARCHAR},
            </if>
            <if test='deleteFlag != null'>
                delete_flag = #{deleteFlag,jdbcType=TINYINT},
            </if>
        </set>
        WHERE
            1 = 1
            <if test='classId != null'>
                AND class_id = #{classId,jdbcType=INTEGER}
            </if>
            <if test='classKey != null'>
                AND class_key = #{classKey,jdbcType=VARCHAR}
            </if>
            <if test='itemKey != null'>
                AND item_key = #{itemKey,jdbcType=VARCHAR}
            </if>             
    </update>
    
    <delete id="deleteItemByKey">
        DELETE FROM 
            exa_sys_parameters
        WHERE
            class_id = #{classId} AND
            item_id = #{itemId}
    </delete>
    
    <delete id="deleteItems" parameterType="java.util.Map">
        DELETE FROM 
            exa_sys_parameters
        WHERE
            1 = 1
            <if test='classId != null'>
                AND class_id = #{classId,jdbcType=INTEGER}
            </if>
            <if test='classKey != null'>
                AND class_key = #{classKey,jdbcType=VARCHAR}
            </if>
    </delete>
    
    <select id="selectItemsByCondition" resultType="com.abc.example.entity.SysParameter">
        SELECT 
            class_id,class_key,class_name,item_id,item_key,item_value,item_desc,
            operator_name,delete_flag,create_time,update_time
        FROM
            exa_sys_parameters
        WHERE
            1 = 1
            <if test='classId != null'>
                AND class_id = #{classId,jdbcType=INTEGER}
            </if>
            <if test='classKey != null'>
                AND class_key = #{classKey,jdbcType=VARCHAR}
            </if>
            <if test='className != null'>
                AND class_name LIKE CONCAT('%',#{className,jdbcType=VARCHAR},'%')
            </if>
            <if test='itemKey != null'>
                AND item_key = #{itemKey,jdbcType=VARCHAR}
            </if>
            <if test='deleteFlag != null'>
                AND delete_flag = #{deleteFlag,jdbcType=TINYINT}
            </if>
    </select>
    
    <select id="selectItemByKey" resultType="com.abc.example.entity.SysParameter">
        SELECT 
            class_id,class_key,class_name,item_id,item_key,item_value,item_desc,
            operator_name,delete_flag,create_time,update_time
        FROM
            exa_sys_parameters
        WHERE
            class_id = #{classId} AND
            item_id = #{itemId}
    </select>
    
    <select id="selectItems" resultType="com.abc.example.entity.SysParameter">
        SELECT 
            class_id,class_key,class_name,item_id,item_key,item_value,item_desc,
            operator_name,delete_flag,create_time,update_time
        FROM
            exa_sys_parameters
        WHERE
            1 = 1
            <if test='classId != null'>
                AND class_id = #{classId,jdbcType=INTEGER}
            </if>
            <if test='classKey != null'>
                AND class_key = #{classKey,jdbcType=VARCHAR}
            </if>
            <if test='itemKey != null'>
                AND item_key = #{itemKey,jdbcType=VARCHAR}
            </if>
            <if test='deleteFlag != null'>
                AND delete_flag = #{deleteFlag,jdbcType=TINYINT}
            </if>
        <if test='rows != null'>
            <choose>
                <when test='offset != null'>
                    LIMIT #{offset,jdbcType=INTEGER},#{rows,jdbcType=INTEGER}
                </when>
                <otherwise>
                    LIMIT #{rows,jdbcType=INTEGER}
                </otherwise>
            </choose>
        </if>
    </select>

    <select id="selectItemByKey2" resultType="com.abc.example.entity.SysParameter">
        SELECT 
            class_id,class_key,class_name,item_id,item_key,item_value,item_desc,
            operator_name,delete_flag,create_time,update_time
        FROM
            exa_sys_parameters
        WHERE
            delete_flag = 0 AND
            class_key = #{classKey} AND
            item_key = #{itemKey}
    </select>
    
    <select id="selectItemsByClassKey" resultType="com.abc.example.entity.SysParameter">
        SELECT 
            class_id,class_key,class_name,item_id,item_key,item_value,item_desc,
            operator_name,delete_flag,create_time,update_time
        FROM
            exa_sys_parameters
        WHERE
            delete_flag = 0 AND
            class_key = #{classKey}
        ORDER BY item_id
    </select>    
    
    <select id="selectAllItems" resultType="com.abc.example.entity.SysParameter">
        SELECT 
            class_id,class_key,class_name,item_id,item_key,item_value,item_desc,
            operator_name,delete_flag,create_time,update_time
        FROM
            exa_sys_parameters
        WHERE
            delete_flag = 0
        ORDER BY class_id,item_id
    </select>      
</mapper>
