<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.abc.example.dao.UserDao">

    <insert id="insertItem" parameterType="com.abc.example.entity.User">
        INSERT INTO exa_users(
            user_id,user_name,password,salt,user_type,org_id,real_name,email,
            phone_number,sex,birth,id_no,open_id,woa_openid,remark,operator_name
        )
        VALUES(
            #{userId},#{userName},#{password},#{salt},#{userType},#{orgId},#{realName},
            #{email},#{phoneNumber},#{sex},#{birth},#{idNo},#{openId},#{woaOpenid},
            #{remark},#{operatorName}
        )
    </insert>
    
    <update id="updateItemByKey" parameterType="java.util.Map">
        UPDATE
            exa_users
        <set>
            <if test='userName != null'>
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test='password != null'>
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test='salt != null'>
                salt = #{salt,jdbcType=VARCHAR},
            </if>
            <if test='userType != null'>
                user_type = #{userType,jdbcType=TINYINT},
            </if>
            <if test='orgId != null'>
                org_id = #{orgId,jdbcType=INTEGER},
            </if>
            <if test='realName != null'>
                real_name = #{realName,jdbcType=VARCHAR},
            </if>
            <if test='email != null'>
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test='phoneNumber != null'>
                phone_number = #{phoneNumber,jdbcType=VARCHAR},
            </if>
            <if test='sex != null'>
                sex = #{sex,jdbcType=TINYINT},
            </if>
            <if test='birth != null'>
                birth = #{birth,jdbcType=TIMESTAMP},
            </if>
            <if test='idNo != null'>
                id_no = #{idNo,jdbcType=VARCHAR},
            </if>
            <if test='openId != null'>
                open_id = #{openId,jdbcType=VARCHAR},
            </if>
            <if test='woaOpenid != null'>
                woa_openid = #{woaOpenid,jdbcType=VARCHAR},
            </if>
            <if test='remark != null'>
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test='operatorName != null'>
                operator_name = #{operatorName,jdbcType=VARCHAR},
            </if>
            <if test='deleteFlag != null'>
                delete_flag = #{deleteFlag,jdbcType=TINYINT},
            </if>
        </set>
        WHERE
            user_id = #{userId}
    </update>
    
    <select id="selectItemsByCondition" resultType="com.abc.example.entity.User">
        SELECT 
            user_id,user_name,password,salt,user_type,org_id,real_name,email,
            phone_number,sex,birth,id_no,open_id,woa_openid,remark,operator_name,
            delete_flag,create_time,update_time
        FROM
            exa_users
        WHERE
            1 = 1
            <if test='userType != null'>
                AND user_type = #{userType,jdbcType=TINYINT}
            </if>
            <if test='sex != null'>
                AND sex = #{sex,jdbcType=TINYINT}
            </if>
            <if test='deleteFlag != null'>
                AND delete_flag = #{deleteFlag,jdbcType=TINYINT}
            </if>
            <if test='userName != null'>
                AND user_name LIKE CONCAT('%',#{userName,jdbcType=VARCHAR},'%')
            </if>
            <if test='phoneNumber != null'>
                AND phone_number LIKE CONCAT('%',#{phoneNumber,jdbcType=VARCHAR},'%')
            </if>
            <if test='idNo != null'>
                AND id_no LIKE CONCAT('%',#{idNo,jdbcType=VARCHAR},'%')
            </if>
            <if test='realName != null'>
                AND real_name LIKE CONCAT('%',#{realName,jdbcType=VARCHAR},'%')
            </if>
            <if test='email != null'>
                AND email LIKE CONCAT('%',#{email,jdbcType=VARCHAR},'%')
            </if>
            <if test='birthStart != null'>
                AND birth &gt;= #{birthStart,jdbcType=TIMESTAMP}
            </if>
            <if test='birthEnd != null'>
                AND birth &lt;= #{birthEnd,jdbcType=TIMESTAMP}
            </if>
            <if test='orgIdList != null and orgIdList.size != 0'>
                AND org_id IN
                <foreach collection ="orgIdList" item="orgId" index= "index" open="(" close=")" separator =",">
                    #{orgId}
                </foreach>
            </if>
    </select>
    
    <select id="selectItemByKey" resultType="com.abc.example.entity.User">
        SELECT 
            user_id,user_name,password,salt,user_type,org_id,real_name,email,
            phone_number,sex,birth,id_no,open_id,woa_openid,remark,operator_name,
            delete_flag,create_time,update_time
        FROM
            exa_users
        WHERE
            user_id = #{userId}
    </select>
    
    <select id="selectItems" resultType="com.abc.example.entity.User">
        SELECT 
            user_id,user_name,password,salt,user_type,org_id,real_name,email,
            phone_number,sex,birth,id_no,open_id,woa_openid,remark,operator_name,
            delete_flag,create_time,update_time
        FROM
            exa_users
        WHERE
            1 = 1
            <if test='userName != null'>
                AND user_name = #{userName,jdbcType=VARCHAR}
            </if>
            <if test='phoneNumber != null'>
                AND phone_number = #{phoneNumber,jdbcType=VARCHAR}
            </if>
            <if test='idNo != null'>
                AND id_no = #{idNo,jdbcType=VARCHAR}
            </if>
            <if test='email != null'>
                AND email = #{email,jdbcType=VARCHAR}
            </if>
            <if test='orgId != null'>
                AND org_id = #{orgId,jdbcType=INTEGER}
            </if>
            <if test='deleteFlag != null'>
                AND delete_flag = #{deleteFlag,jdbcType=TINYINT}
            </if>
            <if test='openId != null'>
                AND open_id = #{openId,jdbcType=VARCHAR}
            </if>
            <if test='woaOpenid != null'>
                AND woa_openid = #{woaOpenid,jdbcType=VARCHAR}
            </if>
            <if test='userIdList != null and userIdList.size != 0'>
                AND user_id IN
                <foreach collection ="userIdList" item="userId" index= "index" open="(" close=")" separator =",">
                    #{userId}
                </foreach>
            </if>
            <if test='orgIdList != null and orgIdList.size != 0'>
                AND org_id IN
                <foreach collection ="orgIdList" item="orgId" index= "index" open="(" close=")" separator =",">
                    #{orgId}
                </foreach>
            </if>
        <if test='rows != null'>
            <choose>
                <when test='offset != null'>
                    LIMIT #{offset,jdbcType=INTEGER},#{rows,jdbcType=INTEGER}
                </when>
                <otherwise>
                    LIMIT #{rows,jdbcType=INTEGER}
                </otherwise>
            </choose>
        </if>
    </select>

</mapper>
